@import "variables.less";

body {
  background: #eee;
}

small {
  font-size: 80%!important;
}

span.red {
  // color: @red;
}
article{
  margin: 0 auto;
  text-align: center;
  // position: fixed;
  // width: 100%;
  // top: 3em; 
}

article svg{
  position: absolute;
  left: 50%!important;
  top: 50%!important;
  transform: translate(-50%, -50%)!important;
  -webkit-transform: translate(-50%, -50%)!important;
  -ms-transform: translate(-50%, -50%)!important;
}

g.circle-wrap {
  fill: #7FB9E6;
  // stroke: #d91f2b;
  stroke-width: 1px; 
}

text.Birth,
text.School,
text.University,
text.Work,
text.Family,
text.Retirement {
  fill: @darkGrey;
  stroke: none;
  display: none;
}



#total {
  // background: @lightGrey;
  // background: @darkDarkGrey;
  background: @white;
  background: #eee;
}

.totalInfo {
  text-align: left; 
  font-style: italic; 
}

#total h2 {
  font-size: 1.5em!important;
  padding-left: 1em;
  text-align: center;
}

#profile {
  background: @darkDarkGrey;

}

#method {
  background: @darkGrey;
  align-items: flex-start;
  color: @white;
  margin: 0 auto;
}

#methodInner p {
  align-items: flex-start;
  color: @white;
}

#methodInner p a {
  text-decoration: underline;
  color: @white;
}
.portrait text.Birth,
.portrait text.School,
.portrait text.University,
.portrait text.Work,
.portrait text.Family,
.portrait text.Retirement {
  display: none;
}


svg {
  margin: 0 auto;
  display: block;
}

.contain {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(10%, 10%)!important;
   -webkit-transform: translate(10%, 10%)!important;
  -ms-transform: translate(10%, 10%)!important;
}

.visParent {
 
}

.swiper-slide {
  background: transparent;
  align-items: top!important;
  border: none;
  display: block;
}

.swiper-slide .lead p {
  color: @white;
  text-align: center;
}
.swiper-slide p{
  width: 50%;
  color: @darkDarkGrey;
  text-align: justify;
  margin: 0 auto;
}

.swiper-slide .lead p{
  width: 100%;
}

#method h2,
h2.life-stage {
  display: inline-block;
  font-size: 1.25em;
}

li {
  list-style-type: none;
  display: inline!important;
}

.legend {
  padding: .5em 1em;
  border-top-width: 15px;
  border-top-style: solid;
}

@media (max-width: 600px) {
  .swiper-slide p{
    font-size: 12px;
    text-align: justify;
    width: 100%;
  }
  .swiper-slide {
    padding-bottom: 0;
    padding-top: 0.25em;
  }
  h2.life-stage {
    font-size: 1.25em;
  }

  #total h2 {
    padding-left: 0;
    font-size: 1.25em!important;
  }

  #total .container {
    padding-left: 0;
    padding-right: 0;
  }

}

 

