@import "variables.less";

article {
  margin: 0 auto;
  text-align: center;
  // position: fixed;
  // width: 100%;
  // top: 3em; 
}

article svg{
  position: absolute;
  left: 50%!important;
  top: 50%!important;
  transform: translate(-50%, -50%)!important;
}

svg {
  background: #eee;

}

text.label {
  // display: none;
  transition: all .5s;
}

.label-visible {
  display: inline-block;
}

.contain {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(10%, 10%)!important;
}

.visParent {
 
}

#callToAction {
  background: @red;
}

.arc {
  // stroke: white;
}

.birth {
  fill: @lightBlue;
}

.school {
  fill: @white;
}

.university {
  fill: @white;
}

.work {
  fill: @white;
}

.family {
  fill: @white;
}

.retirement {
  fill: @white;
}

.swiper-slide {
  background: transparent;
  align-items: top!important;
  border: none;
}

